<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>security_certificates</string>
	<key>BuildVersion</key>
	<string>13</string>
	<key>CFBundleShortVersionString</key>
	<string>2018121000</string>
	<key>CFBundleVersion</key>
	<string>2018121000</string>
	<key>ProjectName</key>
	<string>security_certificates</string>
	<key>SourceVersion</key>
	<string>55093272001000000</string>
</dict>
</plist>
